body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(https://images5.alphacoders.com/116/thumb-1920-1168337.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: rgba(225, 225, 225, 1);
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

/* Colors for different roles */
.researcher .picture::after,
.researcher .picture::before {
  background-color: limegreen;
}

.ui-designer .picture::after,
.ui-designer .picture::before {
  background-color: green;
}

.web-developer .picture::after,
.web-developer .picture::before {
  background-color: darkgreen;
}

/* Change social icon to verified */
.our-team .social li a::before {
  content: "✔️"; /* Verified icon */
  display: inline-block;
  margin-right: 5px;
}

/* Hover effect for social icons */
.our-team .social li a:hover {
  color: limegreen; /* Color for hover */
  background-color: #f7f5ec;
}
